.button {
	-fx-font-family: "Comic Sans MS";
	-fx-font-size: 15;
	-fx-background-color: #ffffff;
}

.button:hover{
	-fx-background-color:#000000;
	-fx-text-fill:white;
}

#text-area-2{
	-fx-background-color: black;
	-fx-text-fill: #ffffff;
}

#text-area-2 .content{
	-fx-background-color: black;
}

/* #text-area-2.scroll-pane.viewport.content.text{
	-fx-background-color: black;
}*/