/*t³o*/
#play {
	-fx-background-image: url("../res/play.png");
}

#prev{
	-fx-background-image: url("../res/prev.png");
}

#next{
	-fx-background-image: url("../res/next.png");
}

.button,
.toggle-button{
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 70% 70%;
	-fx-background-color: transparent;
	-fx-opacity: 40%;
}

.button:hover,
.toggle-button:hover,
.toggle-button:selected {
	-fx-opacity:100%;
}

.menu-bar{
	-fx-background-color: #d59f00;
}

.menu-bar .container .menu:hover{
	-fx-background-color: grey;
}

